@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

/*header*/
* {
  font-family: 'Roboto Slab', serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.first-section {
  display: flex;
  flex-direction: column;
  color: white;
  background: #1f2937;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 600;
}

.right-content {
  font-size: 18px;
  color: #E5E7EB;
}

.links {
  display: flex;
  gap: 20px;
}

li {
  list-style: none;
}

.hero {
  display: flex;
  justify-content: space-around;
  padding:20px;
  padding-top:30px;
  margin-top:50px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 50vw;
  
}

.hero-text h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
  width: 400px;
  margin: 0;
}

.hero-text p {
  font-size: 18px;
  color: #E5E7EB;
  width: 400px;
  margin: 0;
}

button {
  background-color: #3882F6;
  align-self: flex-start;
  margin-left: 260px;
  margin-top: 20px;
  padding: 5px 20px;
  border-radius: 10px;
  color: white;
}

.hero-image {
  display: flex;
  flex: 1;
  justify-content: center;
  width: 50vw;
}

img {
  height: 200px;
  width: auto;
}





